@keyframes hop {
  from {
    transform:rotate(-360deg) scale(0);
  }
  to {
    transform:rotate(360deg) scale(1);
  }
}


* {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: #5a3a93; /*#6441A4;*/
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: repeating-radial-gradient(
    circle,
    #6441a4,
    #6441a4 calc((25vh + 25vw)/3),
    #5a3a93 calc((25vh + 25vw)/3),
    #5a3a93 calc((50vh + 50vw)/3)
  );
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;*/
  width: 100%;
  height: 100vh;
  font-family: "Ubuntu";
}

header button {
  height: 24px;
  width: 24px;
  vertical-align: top;
  border: none;
  cursor: pointer;
  background: #b34646;
  color: white;
}

header button:hover {
  background: rgb(130, 107, 173);
  color: white;
}

header button:disabled {
  color: lightgrey;
  pointer-events: none;
}

header input {
  height: 24px;
  width: 166px;
  padding: 0 5px;
  margin: 0;
  vertical-align: top;
  border: none;
}
hr {
  padding: 0;
  margin: 0;
  height: 2px;
  border: none;
  background-color: #5a3a93;
}
form {
  display: inline;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  transform: scale(1);
}
/*header nav {
  border: 1px solid white;
}*/

.streams, .saves {
  background: #6441a4;
  max-width: 252px;
  border: 5px dashed #b34646;
  border-top: none;
  border-left: none;
  color: white;
  opacity: 1;
}
header:hover .streams {
  opacity: 1;
}
.streams p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.stream-list p {
  display: flex;
  align-items: center;
}
.stream-list p .stream-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.stream-list img {
  height: 22px;
  width: 22px;
  background: rgba(0, 0, 0, 0.9);
  margin-right: 5px;
}
.stream-list p:hover {
  color: white;
  padding: 0;
  margin: 0;
  background-color: #b34646;
}
.saves .items-saves {
  padding: 0 0 0 5px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  background-color: #b34646;
  cursor: default;
  align-items: center;
}
.saves .items-saves .text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.saves .items-saves .buttons {
  white-space: nowrap;
}

.twitch-pseudo {
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.img-profile {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
}

#content {
  width: 100%;
}
.react-grid-layout {
  background: transparent;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}
.react-grid-item {
  cursor: grab;
  box-sizing: border-box;
}
.react-grid-item:not(.react-grid-placeholder) {
  background: #6441a4;
  /*border: 1px solid white;*/
}
.react-grid-item.resizing {
  opacity: 0.9;
}
.react-grid-item.static {
  background: #cce;
}
.react-grid-item .text {
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 24px;
}
.react-grid-item .minMax {
  font-size: 12px;
}
.react-grid-item .add {
  cursor: pointer;
}
.react-grid-dragHandleExample {
  cursor: move; /* fallback if grab cursor is unsupported */
  /*cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;*/
}
li b {
  font-size: 19px;
  line-height: 14px;
}

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: #b34646;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pg08IS0tIEdlbmVyYXRvcjogQWRvYmUgRmlyZXdvcmtzIENTNiwgRXhwb3J0IFNWRyBFeHRlbnNpb24gYnkgQWFyb24gQmVhbGwgKGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSkgLiBWZXJzaW9uOiAwLjYuMSAgLS0+DTwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DTxzdmcgaWQ9IlVudGl0bGVkLVBhZ2UlMjAxIiB2aWV3Qm94PSIwIDAgNiA2IiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjojZmZmZmZmMDAiIHZlcnNpb249IjEuMSINCXhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbDpzcGFjZT0icHJlc2VydmUiDQl4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjZweCIgaGVpZ2h0PSI2cHgiDT4NCTxnIG9wYWNpdHk9IjAuMzAyIj4NCQk8cGF0aCBkPSJNIDYgNiBMIDAgNiBMIDAgNC4yIEwgNCA0LjIgTCA0LjIgNC4yIEwgNC4yIDAgTCA2IDAgTCA2IDYgTCA2IDYgWiIgZmlsbD0iIzAwMDAwMCIvPg0JPC9nPg08L3N2Zz4=");
  background-position: bottom right;
  padding: 0 1px 1px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
  background-color: /*#6441A4*/ transparent;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: 1px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.inner-border {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 20px solid #f00;
  background: #00f;
  margin: 10px;
}

.header-player {
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
  height: 24px;
  display: block;
  color: white;
  text-align: center;
  cursor: move;
}

.header-enter,
.header-exit-done {
  transform: translateX(0);
}
.header-enter-active {
  transform: translateX(-252px);
  transition: all 300ms ease-out;
}
.header-exit,
.header-enter-done {
  transform: translateX(-252px);
}
.header-exit-active {
  transform: translateX(0);
  transition: all 300ms ease-out;
}

.stream-list {
  max-height: calc(100vh / 2);
  overflow: auto;
}

.main-welcome {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.welcome {
  /*animation: hop .5s ease-in-out;*/
  background-color: #6441a4;
  padding: 20px;
  color: white;
  outline: rgb(90, 58, 147) dashed 5px;
  outline-offset: -5px;
}
.welcome h1 {
  font-size: 1.5em;
  text-align: center;
}
.welcome small {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: calc(100% - 40px);
}
.welcome a {
  color: white;
  font-size: 0.8em;
}
.welcome a:hover {
  background-color: #b34646;
}
.welcome button {
  border: none;
  cursor: pointer;
  background: rgb(130, 107, 173);
  color: white;
  padding: 5px;
}
.welcome button:hover {
  background: #b34646;
  color: white;
}
.welcome .lang-select {
  background: #6441a4;
  color: white;
  border: none;
  cursor: pointer;
}
.welcome .profile {
  line-height: 21px;
}
.welcome .profile > span,
.welcome .profile > button {
  display: inline-block;
  white-space: break-spaces;
  vertical-align: middle;
}

.extraClass {
  background-color: #6441a4 !important;
  color: white !important;
  border: 2px dashed #b34646 !important;
  padding: 5px !important;
  border-radius: 0 !important;
}
.place-right:before,
.place-right:after,
.place-bottom:before,
.place-bottom:after,
.place-top:before,
.place-top:after {
  display: none !important;
}
